--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bookings_booking; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bookings_booking (
    id bigint NOT NULL,
    check_in date NOT NULL,
    check_out date NOT NULL,
    guests integer NOT NULL,
    total_price numeric(10,2) NOT NULL,
    status character varying(12) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    listing_id bigint NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT bookings_booking_guests_check CHECK ((guests >= 0))
);


ALTER TABLE public.bookings_booking OWNER TO postgres;

--
-- Name: bookings_booking_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.bookings_booking ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.bookings_booking_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bookings_payment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bookings_payment (
    id bigint NOT NULL,
    amount numeric(10,2) NOT NULL,
    status character varying(10) NOT NULL,
    payment_method character varying(10) NOT NULL,
    provider_payment_id character varying(100),
    created_at timestamp with time zone NOT NULL,
    booking_id bigint NOT NULL
);


ALTER TABLE public.bookings_payment OWNER TO postgres;

--
-- Name: bookings_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.bookings_payment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.bookings_payment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: listings_hotelimages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.listings_hotelimages (
    id bigint NOT NULL,
    image character varying(255),
    hotel_id bigint NOT NULL
);


ALTER TABLE public.listings_hotelimages OWNER TO postgres;

--
-- Name: listings_hotelimages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.listings_hotelimages ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.listings_hotelimages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: listings_hotelslisting; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.listings_hotelslisting (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    description text NOT NULL,
    multiple_rooms integer NOT NULL,
    address text NOT NULL,
    price_per_night integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    "offersOrExtras" character varying(50)[] NOT NULL,
    host_id_id bigint NOT NULL,
    location_id bigint NOT NULL
);


ALTER TABLE public.listings_hotelslisting OWNER TO postgres;

--
-- Name: listings_hotelslisting_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.listings_hotelslisting ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.listings_hotelslisting_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: listings_hotelslisting_rooms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.listings_hotelslisting_rooms (
    id bigint NOT NULL,
    hotelslisting_id bigint NOT NULL,
    roomlist_id bigint NOT NULL
);


ALTER TABLE public.listings_hotelslisting_rooms OWNER TO postgres;

--
-- Name: listings_hotelslisting_rooms_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.listings_hotelslisting_rooms ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.listings_hotelslisting_rooms_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: listings_location; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.listings_location (
    id bigint NOT NULL,
    city character varying(100) NOT NULL,
    state character varying(100) NOT NULL,
    country character varying(100) NOT NULL,
    lat character varying NOT NULL,
    lon character varying NOT NULL
);


ALTER TABLE public.listings_location OWNER TO postgres;

--
-- Name: listings_location_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.listings_location ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.listings_location_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: listings_review; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.listings_review (
    id bigint NOT NULL,
    rating smallint NOT NULL,
    comment text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    hotel_id bigint NOT NULL,
    user_id bigint NOT NULL,
    cleanliness integer,
    location integer,
    service integer,
    CONSTRAINT listings_review_rating_check CHECK ((rating >= 0))
);


ALTER TABLE public.listings_review OWNER TO postgres;

--
-- Name: listings_review_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.listings_review ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.listings_review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: listings_roomlist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.listings_roomlist (
    id bigint NOT NULL,
    bedroom integer NOT NULL,
    bathroom integer NOT NULL,
    beds integer NOT NULL,
    guest integer NOT NULL,
    booked_from date,
    booked_to date,
    is_reserved boolean NOT NULL
);


ALTER TABLE public.listings_roomlist OWNER TO postgres;

--
-- Name: listings_roomlist_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.listings_roomlist ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.listings_roomlist_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_users (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_of_birth date,
    role character varying(3) NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.users_users OWNER TO postgres;

--
-- Name: users_users_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_users_groups (
    id bigint NOT NULL,
    users_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_users_groups OWNER TO postgres;

--
-- Name: users_users_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_users_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_users_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_users_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_users_user_permissions (
    id bigint NOT NULL,
    users_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_users_user_permissions OWNER TO postgres;

--
-- Name: users_users_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_users_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_users_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: bookings_booking; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bookings_booking (id, check_in, check_out, guests, total_price, status, created_at, updated_at, listing_id, user_id) FROM stdin;
22	2025-09-18	2025-09-23	5	95000.00	confirmed	2025-08-26 12:27:25.565493-07	2025-08-26 12:27:25.565512-07	1	3
\.


--
-- Data for Name: bookings_payment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bookings_payment (id, amount, status, payment_method, provider_payment_id, created_at, booking_id) FROM stdin;
22	95000.00	paid	UPI	agwdiuaw 3743 i3tu t89 3 4 45985 gifdsdv	2025-08-26 12:27:25.568564-07	22
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	users	users
7	listings	roomlist
8	listings	hotelimages
9	listings	location
10	listings	hotelslisting
11	listings	reviews
12	listings	review
13	bookings	booking
14	bookings	payment
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: listings_hotelimages; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: listings_hotelslisting; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: listings_hotelslisting_rooms; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.listings_hotelslisting_rooms (id, hotelslisting_id, roomlist_id) FROM stdin;
1	1	2
2	2	1
3	3	1
4	4	2
5	5	2
\.


--
-- Data for Name: listings_location; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.listings_location (id, city, state, country, lat, lon) FROM stdin;
1	Bhubaneshwar	Odisha	India	20.282329710423333	85.8273925182868
2	Mumbai	Maharashtra	India	19.09241453075015	72.8309371803421
3	Bengaluru	Karnataka	India	12.96247865285667	77.576834612013871
\.


--
-- Data for Name: listings_review; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: listings_roomlist; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.listings_roomlist (id, bedroom, bathroom, beds, guest, booked_from, booked_to, is_reserved) FROM stdin;
1	2	2	4	8	\N	\N	t
2	2	2	4	7	\N	\N	f
\.


--
-- Data for Name: users_users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users_users_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_users_groups (id, users_id, group_id) FROM stdin;
\.


--
-- Data for Name: users_users_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_users_user_permissions (id, users_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 56, true);


--
-- Name: bookings_booking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bookings_booking_id_seq', 22, true);


--
-- Name: bookings_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bookings_payment_id_seq', 22, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 95, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 14, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 28, true);


--
-- Name: listings_hotelimages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.listings_hotelimages_id_seq', 98, true);


--
-- Name: listings_hotelslisting_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.listings_hotelslisting_id_seq', 5, true);


--
-- Name: listings_hotelslisting_rooms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.listings_hotelslisting_rooms_id_seq', 5, true);


--
-- Name: listings_location_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.listings_location_id_seq', 3, true);


--
-- Name: listings_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.listings_review_id_seq', 13, true);


--
-- Name: listings_roomlist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.listings_roomlist_id_seq', 2, true);


--
-- Name: users_users_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_users_groups_id_seq', 1, false);


--
-- Name: users_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_users_id_seq', 7, true);


--
-- Name: users_users_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_users_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: bookings_booking bookings_booking_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings_booking
    ADD CONSTRAINT bookings_booking_pkey PRIMARY KEY (id);


--
-- Name: bookings_payment bookings_payment_booking_id_0afdaed6_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings_payment
    ADD CONSTRAINT bookings_payment_booking_id_0afdaed6_uniq UNIQUE (booking_id);


--
-- Name: bookings_payment bookings_payment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings_payment
    ADD CONSTRAINT bookings_payment_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: listings_hotelimages listings_hotelimages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listings_hotelimages
    ADD CONSTRAINT listings_hotelimages_pkey PRIMARY KEY (id);


--
-- Name: listings_hotelslisting listings_hotelslisting_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listings_hotelslisting
    ADD CONSTRAINT listings_hotelslisting_pkey PRIMARY KEY (id);


--
-- Name: listings_hotelslisting_rooms listings_hotelslisting_r_hotelslisting_id_roomlis_a59e177b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listings_hotelslisting_rooms
    ADD CONSTRAINT listings_hotelslisting_r_hotelslisting_id_roomlis_a59e177b_uniq UNIQUE (hotelslisting_id, roomlist_id);


--
-- Name: listings_hotelslisting_rooms listings_hotelslisting_rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listings_hotelslisting_rooms
    ADD CONSTRAINT listings_hotelslisting_rooms_pkey PRIMARY KEY (id);


--
-- Name: listings_location listings_location_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listings_location
    ADD CONSTRAINT listings_location_pkey PRIMARY KEY (id);


--
-- Name: listings_review listings_review_hotel_id_user_id_4d6d41c5_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listings_review
    ADD CONSTRAINT listings_review_hotel_id_user_id_4d6d41c5_uniq UNIQUE (hotel_id, user_id);


--
-- Name: listings_review listings_review_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listings_review
    ADD CONSTRAINT listings_review_pkey PRIMARY KEY (id);


--
-- Name: listings_roomlist listings_roomlist_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listings_roomlist
    ADD CONSTRAINT listings_roomlist_pkey PRIMARY KEY (id);


--
-- Name: users_users_groups users_users_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_users_groups
    ADD CONSTRAINT users_users_groups_pkey PRIMARY KEY (id);


--
-- Name: users_users_groups users_users_groups_users_id_group_id_02603a5e_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_users_groups
    ADD CONSTRAINT users_users_groups_users_id_group_id_02603a5e_uniq UNIQUE (users_id, group_id);


--
-- Name: users_users users_users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_users
    ADD CONSTRAINT users_users_pkey PRIMARY KEY (id);


--
-- Name: users_users_user_permissions users_users_user_permiss_users_id_permission_id_119659d5_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_users_user_permissions
    ADD CONSTRAINT users_users_user_permiss_users_id_permission_id_119659d5_uniq UNIQUE (users_id, permission_id);


--
-- Name: users_users_user_permissions users_users_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_users_user_permissions
    ADD CONSTRAINT users_users_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_users users_users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_users
    ADD CONSTRAINT users_users_username_key UNIQUE (username);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: bookings_bo_listing_483dae_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX bookings_bo_listing_483dae_idx ON public.bookings_booking USING btree (listing_id, check_in, check_out);


--
-- Name: bookings_bo_user_id_69a5d5_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX bookings_bo_user_id_69a5d5_idx ON public.bookings_booking USING btree (user_id, status);


--
-- Name: bookings_booking_listing_id_3af24c7b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX bookings_booking_listing_id_3af24c7b ON public.bookings_booking USING btree (listing_id);


--
-- Name: bookings_booking_user_id_834dfc23; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX bookings_booking_user_id_834dfc23 ON public.bookings_booking USING btree (user_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: listings_hotelimages_hotel_id_1660ed73; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX listings_hotelimages_hotel_id_1660ed73 ON public.listings_hotelimages USING btree (hotel_id);


--
-- Name: listings_hotelslisting_host_id_id_ecbd5d9f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX listings_hotelslisting_host_id_id_ecbd5d9f ON public.listings_hotelslisting USING btree (host_id_id);


--
-- Name: listings_hotelslisting_location_id_ddfd9109; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX listings_hotelslisting_location_id_ddfd9109 ON public.listings_hotelslisting USING btree (location_id);


--
-- Name: listings_hotelslisting_rooms_hotelslisting_id_41089767; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX listings_hotelslisting_rooms_hotelslisting_id_41089767 ON public.listings_hotelslisting_rooms USING btree (hotelslisting_id);


--
-- Name: listings_hotelslisting_rooms_roomlist_id_bd6af10d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX listings_hotelslisting_rooms_roomlist_id_bd6af10d ON public.listings_hotelslisting_rooms USING btree (roomlist_id);


--
-- Name: listings_review_hotel_id_df612214; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX listings_review_hotel_id_df612214 ON public.listings_review USING btree (hotel_id);


--
-- Name: listings_review_user_id_8ccfe840; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX listings_review_user_id_8ccfe840 ON public.listings_review USING btree (user_id);


--
-- Name: users_users_groups_group_id_3e15ff0f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_users_groups_group_id_3e15ff0f ON public.users_users_groups USING btree (group_id);


--
-- Name: users_users_groups_users_id_5572cf36; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_users_groups_users_id_5572cf36 ON public.users_users_groups USING btree (users_id);


--
-- Name: users_users_user_permissions_permission_id_9a117d64; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_users_user_permissions_permission_id_9a117d64 ON public.users_users_user_permissions USING btree (permission_id);


--
-- Name: users_users_user_permissions_users_id_04010ba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_users_user_permissions_users_id_04010ba6 ON public.users_users_user_permissions USING btree (users_id);


--
-- Name: users_users_username_9113b4c1_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_users_username_9113b4c1_like ON public.users_users USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_booking bookings_booking_listing_id_3af24c7b_fk_listings_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings_booking
    ADD CONSTRAINT bookings_booking_listing_id_3af24c7b_fk_listings_ FOREIGN KEY (listing_id) REFERENCES public.listings_hotelslisting(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_booking bookings_booking_user_id_834dfc23_fk_users_users_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings_booking
    ADD CONSTRAINT bookings_booking_user_id_834dfc23_fk_users_users_id FOREIGN KEY (user_id) REFERENCES public.users_users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bookings_payment bookings_payment_booking_id_0afdaed6_fk_bookings_booking_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings_payment
    ADD CONSTRAINT bookings_payment_booking_id_0afdaed6_fk_bookings_booking_id FOREIGN KEY (booking_id) REFERENCES public.bookings_booking(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_users_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_users_id FOREIGN KEY (user_id) REFERENCES public.users_users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: listings_hotelimages listings_hotelimages_hotel_id_1660ed73_fk_listings_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listings_hotelimages
    ADD CONSTRAINT listings_hotelimages_hotel_id_1660ed73_fk_listings_ FOREIGN KEY (hotel_id) REFERENCES public.listings_hotelslisting(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: listings_hotelslisting_rooms listings_hotelslisti_hotelslisting_id_41089767_fk_listings_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listings_hotelslisting_rooms
    ADD CONSTRAINT listings_hotelslisti_hotelslisting_id_41089767_fk_listings_ FOREIGN KEY (hotelslisting_id) REFERENCES public.listings_hotelslisting(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: listings_hotelslisting listings_hotelslisti_location_id_ddfd9109_fk_listings_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listings_hotelslisting
    ADD CONSTRAINT listings_hotelslisti_location_id_ddfd9109_fk_listings_ FOREIGN KEY (location_id) REFERENCES public.listings_location(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: listings_hotelslisting_rooms listings_hotelslisti_roomlist_id_bd6af10d_fk_listings_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listings_hotelslisting_rooms
    ADD CONSTRAINT listings_hotelslisti_roomlist_id_bd6af10d_fk_listings_ FOREIGN KEY (roomlist_id) REFERENCES public.listings_roomlist(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: listings_hotelslisting listings_hotelslisting_host_id_id_ecbd5d9f_fk_users_users_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listings_hotelslisting
    ADD CONSTRAINT listings_hotelslisting_host_id_id_ecbd5d9f_fk_users_users_id FOREIGN KEY (host_id_id) REFERENCES public.users_users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: listings_review listings_review_hotel_id_df612214_fk_listings_hotelslisting_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listings_review
    ADD CONSTRAINT listings_review_hotel_id_df612214_fk_listings_hotelslisting_id FOREIGN KEY (hotel_id) REFERENCES public.listings_hotelslisting(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: listings_review listings_review_user_id_8ccfe840_fk_users_users_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listings_review
    ADD CONSTRAINT listings_review_user_id_8ccfe840_fk_users_users_id FOREIGN KEY (user_id) REFERENCES public.users_users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_users_groups users_users_groups_group_id_3e15ff0f_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_users_groups
    ADD CONSTRAINT users_users_groups_group_id_3e15ff0f_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_users_groups users_users_groups_users_id_5572cf36_fk_users_users_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_users_groups
    ADD CONSTRAINT users_users_groups_users_id_5572cf36_fk_users_users_id FOREIGN KEY (users_id) REFERENCES public.users_users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_users_user_permissions users_users_user_per_permission_id_9a117d64_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_users_user_permissions
    ADD CONSTRAINT users_users_user_per_permission_id_9a117d64_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_users_user_permissions users_users_user_per_users_id_04010ba6_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_users_user_permissions
    ADD CONSTRAINT users_users_user_per_users_id_04010ba6_fk_users_use FOREIGN KEY (users_id) REFERENCES public.users_users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

